<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BobmukjaKU"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GiveScoreActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="FCM_EXE_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ChangePasswordActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BobAppointmentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakeRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileColorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="rvufpqa0vm" />

        <activity
            android:name=".Join2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".RoomDB.RestaurantUpdateService"
            android:enabled="true"
            android:exported="true">

        </service>
    </application>

</manifest>